.layout {
  background: white;
  width:100%;
  height:100vh;

  header {
    background: #009F8C;
    nav {
      ul {
        display: flex;
        border-bottom:1px solid #000;

        li {
          font-size:12px;
          padding:3px 5px;
          color: white;
          border-right:1px solid #000;
          
          &:hover {
            background-color: red;
          }
        }
      }
    }
  }
}